In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('air_quality_global.csv')
data.head()

,city,country,latitude,longitude,year,month,pm25_ugm3,no2_ugm3,data_quality,measurement_method,data_source
0,New York,USA,40.7128,-74.006,1999,1,18.11,35.98,Moderate,Reference/Equivalent Method,EPA_AQS
1,New York,USA,40.7128,-74.006,1999,2,27.79,17.71,Good,Reference/Equivalent Method,EPA_AQS
2,New York,USA,40.7128,-74.006,1999,3,12.05,40.99,Moderate,Reference/Equivalent Method,EPA_AQS
3,New York,USA,40.7128,-74.006,1999,4,35.25,17.18,Poor,Reference/Equivalent Method,EPA_AQS
4,New York,USA,40.7128,-74.006,1999,5,38.39,25.07,Good,Reference/Equivalent Method,EPA_AQS

In [4]:
print('Number of Rows and Columns:'),data.shape

Number of Rows and Columns:

(None, (6480, 11))

In [6]:
print()
print('Column Names:')
print(data.columns.tolist())

Column Names:
['city', 'country', 'latitude', 'longitude', 'year', 'month', 'pm25_ugm3', 'no2_ugm3', 'data_quality', 'measurement_method', 'data_source']

In [10]:
print()
print('Dataset Information:')
data.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6480 entries, 0 to 6479
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city                6480 non-null   object
 1   country             6480 non-null   object
 2   latitude            6480 non-null   float64
 3   longitude           6480 non-null   float64
 4   year                6480 non-null   int64
 5   month               6480 non-null   int64
 6   pm25_ugm3           6480 non-null   float64
 7   no2_ugm3            6480 non-null   float64
 8   data_quality        6480 non-null   object
 9   measurement_method  6480 non-null   object
 10  data_source         6480 non-null   object
dtypes: float64(4), int64(2), object(5)
memory usage: 557.0+ KB

In [11]:
print()
print('Summary Statistics:')
data.describe()

Summary Statistics:

,latitude,longitude,year,month,pm25_ugm3,no2_ugm3
count,6480.000000,6480.000000,6480.000000,6480.000000,6480.000000,6480.000000
mean,31.535510,-35.877325,2012.000000,6.500000,40.968210,39.617276
std,16.603137,81.511132,7.789482,3.452319,36.303963,16.711882
min,-23.550500,-121.886300,1999.000000,1.000000,5.100000,10.250000
25%,29.244100,-98.653500,2005.000000,3.750000,19.337500,27.080000
50%,33.750300,-74.585600,2012.000000,6.500000,29.225000,36.845000
75%,40.142650,5.885650,2019.000000,9.250000,46.080000,48.922500
max,52.520000,139.650300,2025.000000,12.000000,274.180000,110.270000

In [9]:
data[['city','country','pm25_ugm3','no2_ugm3',]].head()

       city country  pm25_ugm3  no2_ugm3
0  New York     USA      18.11     35.98
1  New York     USA      27.79     17.71
2  New York     USA      12.05     40.99
3  New York     USA      35.25     17.18
4  New York     USA      38.39     25.07

In [16]:
high_pm25=data[data['pm25_ugm3']>50]
high_pm25

,city,country,latitude,longitude,year,month,pm25_ugm3,no2_ugm3,data_quality,measurement_method,data_source
327,Los Angeles,USA,34.0522,-118.2437,1999,4,53.68,26.69,Good,Reference/Equivalent Method,EPA_AQS
337,Los Angeles,USA,34.0522,-118.2437,2000,2,56.92,51.95,Good,Reference/Equivalent Method,EPA_AQS
341,Los Angeles,USA,34.0522,-118.2437,2000,6,56.19,69.27,Good,Reference/Equivalent Method,EPA_AQS
350,Los Angeles,USA,34.0522,-118.2437,2001,3,56.90,41.09,Poor,Reference/Equivalent Method,EPA_AQS
351,Los Angeles,USA,34.0522,-118.2437,2001,4,54.98,65.81,Good,Reference/Equivalent Method,EPA_AQS
...,...,...,...,...,...,...,...,...,...,...,...
6471,Lagos,Nigeria,6.5244,3.3792,2025,4,73.85,49.17,Good,Federal Reference Method,WHO_Database
6472,Lagos,Nigeria,6.5244,3.3792,2025,5,63.02,71.16,Good,Federal Reference Method,WHO_Database
6473,Lagos,Nigeria,6.5244,3.3792,2025,6,94.52,73.85,Good,Federal Reference Method,WHO_Database
6474,Lagos,Nigeria,6.5244,3.3792,2025,7,97.99,31.67,Good,Federal Reference Method,WHO_Database
6475,Lagos,Nigeria,6.5244,3.3792,2025,8,54.42,24.15,Good,Federal Reference Method,WHO_Database

In [18]:
high_pm25.to_csv('high_pm25_data.csv',index=False)
print('Filtered Data saved as "high_pm25_data.csv"')

Filtered Data saved as "high_pm25_data.csv"